{% extends 'master.html' %} {% block content %}

<div class="col-3"></div>

<div class="col-9">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputEmail4" name="nome" value="{{current_user.nome}}"/>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Sobre Nome</label>
            <input type="text" class="form-control" id="inputPassword4" name="sobre_nome" value="{{current_user.sobre_nome}}"/>
        </div>
        <div class="col-6">
            <label for="inputAddress" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="inputAddress" placeholder="exemplo@exemplo.com" name="email" value="{{current_user.email}}" />
        </div>
        <div class="col-6">
            <label for="inputAddress2" class="form-label">Celular</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="(00)000000000" name="telefone" value="{{current_user.telefone}}" />
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">CPF</label>
            <input type="text" class="form-control" id="inputCity" placeholder="00000000000" name="cpf" value="{{current_user.cpf}}" />
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Aniverssário</label>
            <input type="date" class="form-control" id="inputCity" name="data_nascimento" value="{{current_user.data_nascimento}}"/>
        </div>
        
        
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Comfirmar</button>
        </div>
    </form>
</div>

{% endblock %}